.home {
  background: color($colors, dark);
  color: color($colors, light);
  margin-top: 20px;
}

.settings {
  background: color($colors, dark);
  color: color($colors, light);
}

.toolbar-title {
  text-align: center;
}

.alert-head, .alert-md .alert-radio-label {
  color: color($colors, light);
}
